.layout {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  background-image: url(../design/desktop-design.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

body, header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
}

header, h3 {
  color: hsl(234, 12%, 34%);
}

header {
  width: 35%;
  justify-content: space-between;
  text-align: center;
  margin-top: 75px;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 2.43em;
  font-weight: 600;
}

h2 {
  font-size: 2.43em;
  font-weight: 200;
}

p, small {
  color: hsl(229, 6%, 66%);
}

h3, p {
  margin: 0 32px;
}

h3 {
  margin-top: 28px;
  font-size: 1.33em;
}

p {
  font-size: 0.88em;
  margin-top: 11px;
}

small {
  margin-top: 15px;
  font-size: 1.01em;
}

.content {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  width: 100%;
}

.content .group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  width: 25%;
}

.content .group section {
  border-radius: 7px;
  width: 350px;
  height: 250px;
  margin: 13px 0;
  box-shadow: 0 15px 20px rgb(216, 226, 238);
}

.content .group section .img-container {
  text-align: right;
  margin: 42px 32px;
}